{% extends "base_generic.html" %}

{% block title %}
    <title>{{ object.first_name }}</title>
{% endblock %}

{% block content %}
    <h1>{{ object.first_name }}</h1>
    <h2>{{ object.last_name }}</h2>
    <p><strong>Дата рождения:</strong> {{ object.date_of_birth }}</p>
    <p><strong>Дата смерти:</strong> {{ object.date_of_death }}</p>
    <h3>Book:</h3>
    <ul>
    {% for book in books %}
        <li>
            <strong>Название:</strong> <a href="{{ book.get_absolute_url }}">{{ Book.title }}</a><br>
        </li>
    {% empty %}
        <li>У этого автора нет книг.</li>
    {% endfor %}
</ul>
{% endblock %}